---
eleventyNavigation:
  key: Blog
  order: 2
---





<!DOCTYPE html>
<!-- ✨ Built with LindoAi • https://www.lindoai.com/ -->
<html class="">

<head>
  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1">
  <link rel="canonical" href="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Gelatinas artísticas personalizadas con diseños únicos y sabores variados. Perfectas para eventos especiales. ¡Descubre nuestras creaciones en gelatina ahora!">
  <meta name="lindo-page-setting" 
  template-type="Web Page" 
  template-name="Articles" 
   page-type="page"
   id="reccKaSHmEuqCIMwy" 
   template-id="articles"
   theme-font="Inter"
   theme-palette="Indigo"
   theme-mode="Light">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Gelatinas Personalizadas de Alta Calidad">
  <meta name="twitter:description" content="Gelatinas artísticas personalizadas con diseños únicos y sabores variados. Perfectas para eventos especiales. ¡Descubre nuestras creaciones en gelatina ahora!">
  <meta name="twitter:image" content="https://cdn.lindoai.com/c/recbhUz8BEUk2ubc9/images/logo-full-256x.png">

  <meta property="og:title" content="Gelatinas Personalizadas de Alta Calidad">
  <meta property="og:description" content="Gelatinas artísticas personalizadas con diseños únicos y sabores variados. Perfectas para eventos especiales. ¡Descubre nuestras creaciones en gelatina ahora!">
  <meta property="og:image" content="https://cdn.lindoai.com/c/recbhUz8BEUk2ubc9/images/logo-full-256x.png">

  <!-- Title -->
  <title>Gelatinas Personalizadas de Alta Calidad</title>
  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="https://cdn.lindoai.com/c/recbhUz8BEUk2ubc9/images/logo-sqr-256x.png">
  <link href="https://cdn.lindoai.com/c/recbhUz8BEUk2ubc9/css/reccKaSHmEuqCIMwy-20240530T002930Z.css" rel="stylesheet">

  <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=VgLD9nUDYwk7lipQIXzAsy-yKLr_XFKzaJsplTi5IEoSmcrNbFSAuSqLOz8hXHYhQyovHULWl9-sNlqF8FJmgw" charset="UTF-8"></script><link rel="stylesheet" crossorigin="anonymous" href="https://gc.kis.v2.scr.kaspersky-labs.com/E3E8934C-235A-4B0E-825A-35A08381A191/abn/main.css?attr=aHR0cHM6Ly9nZWxhdGluYXN5b2xhbmRhLmxpbmRvYWkuY29tL2FydGljbGVz"/><script>
    var _global_icons_config = {};
  </script>
  <!-- Custom Code -->
  

  <style>
    [lindo-animate] {
      visibility: hidden;
    }
  </style>
</head>


<body class="dark:bg-slate-900">
  <!-- ========== MAIN CONTENT ========== -->
  <main lindo-main-content id="content" role="main" class="font-default bg-base-50">

                      <!-- Navbar --> 
       <!-- Navbar --> 
       <header lindo-section="_header_align_right2658" lindo-variation="1">
        <div data-wow-duration="0.3s" lindo-animate="fadeInUp" data-wow-delay="0.1s" class="flex flex-wrap md:justify-start md:flex-nowrap z-50 w-full text-sm">
          <nav class="my-6 relative max-w-7xl w-full mx-2 py-3 px-4 md:flex md:items-center md:justify-between md:py-0 md:px-6 lg:px-8 xl:mx-auto dark:bg-gray-800 dark:border-gray-700" aria-label="Global">
            <div class="flex items-center justify-between">
              <span class="flex-none text-xl  dark:text-white">
                <img class="inline-block h-10 h-logo" src="https://gelatinartepaty.vercel.app/img/favicon.png" lindo-image-logo="full" lindo-img-size="600x200" alt="GelatinArte Pa´ty"><span class="font-semibold"> G</span>elatin<span class="font-semibold">arte</span> <span class="font-semibold">Pa´ty</span> 
              </span>
              <div class="md:hidden">
                <button type="button" class="hs-collapse-toggle p-2 inline-flex justify-center items-center gap-2 rounded-full border border-base-200 font-medium bg-base-50 text-base-900/70 shadow-sm align-middle hover:bg-base-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-primary-500 transition-all text-sm dark:bg-slate-900 dark:hover:bg-slate-800 dark:border-gray-700 dark:text-gray-400 dark:hover:text-white dark:focus:ring-offset-gray-800" data-hs-collapse="#navbar-collapse-with-animation" aria-controls="navbar-collapse-with-animation" aria-label="Toggle navigation">
                  <svg class="hs-collapse-open:hidden w-4 h-4" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                  </svg>
                  <svg class="hs-collapse-open:block hidden w-4 h-4" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                  </svg>
                </button>
              </div>
            </div>
            <div id="navbar-collapse-with-animation" class="hs-collapse hidden transition-all duration-300 basis-full grow md:block">
              <div class="flex flex-col gap-y-4 gap-x-0 mt-5 md:flex-row md:items-center md:justify-end md:gap-y-0 md:gap-x-7 md:mt-0 md:pl-7">                
                <a lindo-btn="_header_align_right2658_link2" lindo-btn-href="_header_align_right2658_link2_url"  href="#services" class="font-medium text-base-900 hover:text-primary-500" aria-current="page">
                  <span lindo-btn-text>Servicios</span>
                </a>
                <a lindo-btn="_header_align_right2658_link3" lindo-btn-href="_header_align_right2658_link3_url"  href="#articles" class="font-medium text-base-900 hover:text-primary-500" aria-current="page">
                  <span lindo-btn-text>Blog</span>
                </a>  
                <a lindo-btn="_header_align_right2658_link3" lindo-btn-href="_header_align_right2658_link3_url"  href="#about" class="font-medium text-base-900 hover:text-primary-500" aria-current="page">
                  <span lindo-btn-text>Sobre Gelatinarte Pa´ty</span>
                </a>  
                <a lindo-btn="_header_align_right2658_link5" lindo-btn-href="_header_align_right2658_link5_url"  href="/contact" class="font-medium text-base-900 hover:text-primary-500" aria-current="page">
                  <span lindo-btn-text>Contacto</span>
                </a>
                <a lindo-btn="_header_align_right2658_cta cta-button"  lindo-btn-href="_header_align_right2658_cta_url"  href="#contacto"  class="inline-flex justify-center items-center gap-x-3 text-center bg-primary-500 hover:opacity-90 text-white text-sm font-medium rounded-full focus:outline-none focus:ring-2  focus:ring-offset-2 focus:ring-offset-base-50 py-4 px-8 dark:focus:ring-offset-gray-800  cta-button">
                  <span lindo-btn-text >Cotizar</span>
                </a>
              </div>
            </div>
          </nav>
        </div>
      </header><!-- Highlight -->
 <section lindo-section="_highlight_a9668">
  <div class="max-w-[75rem] px-8 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto text-base-900">

    <!-- Title -->
    <div class="max-w-3xl text-center mx-auto">
      <h2 data-wow-duration="0.3s"  lindo-animate="fadeInUp" lindo-text="_highlight_a9668_title" class="block font-bold text-3xl md:text-4xl lg:text-5xl bg-clip-text bg-gradient-to-r from-primary-500 to-primary-300 text-transparent 
      pb-2">
          Artículos
      </h2>
    </div>
    <!-- End Title -->
    <div class="mt-5 max-w-3xl text-center mx-auto">
      <p data-wow-duration="0.3s"  lindo-animate="fadeInUp" data-wow-delay="0.1s"  class="text-lg text-base-900/70 dark:text-gray-400" lindo-text="_highlight_a9668_subtitle">
        Explora más a fondo y aprende más</p>
    </div>
  </div>
</section>
<!-- End Highlight --><!-- Slide - Center - Image #_blog_card_a9156 -->

<section lindo-section="_blog_card_a9156" lindo-variation="1">
  <div class="max-w-[75rem] px-8 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto text-base-900">
      <!-- Grid -->
      <div class="grid sm:grid-cols-2 sm:items-center gap-8">

          <div class="sm:order-2">
              <!-- <p
                  class="mb-5 inline-flex items-center gap-1.5 py-1.5 px-3 rounded-md text-xs font-medium bg-gray-100 text-gray-800 dark:bg-gray-800 dark:text-gray-200">
                  Business insight
              </p> -->
  
              <h2 data-wow-duration="0.3s"  lindo-animate="fadeInUp" 
                  class="text-2xl font-bold md:text-3xl lg:text-4xl lg:leading-tight xl:text-5xl xl:leading-tight text-base-900 dark:text-gray-200">
                  <div lindo-text="_blog_card_a9156_title"
                      class="dark:text-gray-300">
                      Ideas de postres personalizados para eventos especiales
          </div>
              </h2>
  
              <!-- Avatar -->
              <div data-wow-duration="0.3s"  lindo-animate="fadeInUp" data-wow-delay="0.1s" class="mt-6 sm:mt-10 flex items-center">
                  <div class="flex-shrink-0">
  
                  <div class="group relative overflow-hidden h-10 w-10 sm:h-14 sm:w-14 rounded-full">
                      <img lindo-image="_blog_card_a9156_avatar_url"
                          class="group-hover:scale-105 transition-transform duration-500 ease-in-out w-full h-full absolute top-0 left-0 object-cover rounded-xl"
                          src="https://luisangelmaciel.github.io/favicon.svg" lindo-img-size="400x400"
                          alt="Image Description">
                  </div>
  
                      
  
                  </div>
  
                  <div class="ml-3 sm:ml-4">
                      <p lindo-text="_blog_card_a9156_author_name"
                          class="sm:mb-1 font-semibold text-base-900 dark:text-gray-200">
                         Yolanda 
                      </p>
                      <p lindo-text=_blog_card_a9156_author_title class="text-xs text-base-900/50">
                          Alimentación creativa
                      </p>
                  </div>
              </div>
              <!-- End Avatar -->
  
              <div class="mt-5">
                  <a data-wow-duration="0.3s"  lindo-animate="fadeInUp" data-wow-delay="0.2s" class="inline-flex items-center gap-x-1.5 text-primary-500 decoration-2 hover:underline font-medium"
                      lindo-btn="_blog_card_a9156_cta_text" lindo-btn-href="_blog_card_a9156_cta_url"
                      href="/blog/keyword_1">
                      <span lindo-btn-text>Leer más</span>
                      <svg class="w-2.5 h-2.5" width="16" height="16" viewBox="0 0 16 16" fill="none">
                          <path
                              d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14"
                              stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                      </svg>
                  </a>
              </div>
          </div>
          <!-- End Col -->
          <div class="sm:order-1">
              <div class="relative rounded-lg">
  
              <div class="group relative rounded-xl overflow-hidden w-full h-[600px]">
                  <img data-wow-duration="0.3s"  lindo-animate="fadeInUp" class="w-full h-full absolute top-0 left-0 object-cover rounded-lg"
                      class="group-hover:scale-105 transition-transform duration-500 ease-in-out w-full h-full absolute top-0 left-0 object-cover rounded-xl"
                      lindo-image="_blog_card_a9156_image_url" src="https://gelatinartepaty.vercel.app/img/2024/IMG_6750.webp" lindo-img-size="800x800"
                      alt="Image Description">
              </div>
  
                  
              </div>
          </div>
          <!-- End Col -->
  
      </div>
      <!-- End Grid -->

  </div>
</section>
<!-- Slide - Center - Image #_blog_card_a5325 -->

<section lindo-section="_blog_card_a5325">
  <div class="max-w-[75rem] px-8 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto text-base-900">
      <!-- Grid -->
      <div class="grid sm:grid-cols-2 sm:items-center gap-8">
          <div class="sm:order-2">
              <div class="relative rounded-lg">
  
              <div class="group relative rounded-xl overflow-hidden w-full h-[600px]">
                  <img data-wow-duration="0.3s"  lindo-animate="fadeInUp" class="w-full h-full absolute top-0 left-0 object-cover rounded-lg"
                      class="group-hover:scale-105 transition-transform duration-500 ease-in-out w-full h-full absolute top-0 left-0 object-cover rounded-xl"
                      lindo-image="_blog_card_a5325_image_url" src="https://gelatinartepaty.vercel.app/img/2024/IMG_6751.webp" lindo-img-size="800x800"
                      alt="Image Description">
              </div>
  
                  
              </div>
          </div>
          <!-- End Col -->
  
          <div class="sm:order-1">
              <!-- <p
                  class="mb-5 inline-flex items-center gap-1.5 py-1.5 px-3 rounded-md text-xs font-medium bg-gray-100 text-gray-800 dark:bg-gray-800 dark:text-gray-200">
                  Business insight
              </p> -->
  
              <h2 data-wow-duration="0.3s"  lindo-animate="fadeInUp" 
                  class="text-2xl font-bold md:text-3xl lg:text-4xl lg:leading-tight xl:text-5xl xl:leading-tight text-base-900 dark:text-gray-200">
                  <div lindo-text="_blog_card_a5325_title"
                      class="dark:text-gray-300">
                      Cómo sorprender con repostería creativa en tus fiestas
            </div>
              </h2>
  
              <!-- Avatar -->
              <div data-wow-duration="0.3s"  lindo-animate="fadeInUp" data-wow-delay="0.1s" class="mt-6 sm:mt-10 flex items-center">
                  <div class="flex-shrink-0">
  
                  <div class="group relative overflow-hidden h-10 w-10 sm:h-14 sm:w-14 rounded-full">
                      <img lindo-image="_blog_card_a5325_avatar_url"
                          class="group-hover:scale-105 transition-transform duration-500 ease-in-out w-full h-full absolute top-0 left-0 object-cover rounded-xl"
                          src="https://ucarecdn.com/96834d6c-b43c-4fa7-bf23-030f381a56f9/-/preview/469x216/-/quality/smart/-/format/auto/" lindo-img-size="400x400"
                          alt="Image Description">
                  </div>
  
                      
  
                  </div>
  
                  <div class="ml-3 sm:ml-4">
                      <p lindo-text="_blog_card_a5325_author_name"
                          class="sm:mb-1 font-semibold text-base-900 dark:text-gray-200">
                         Luis Angel Maciel 
                      </p>
                      <p lindo-text=_blog_card_a5325_author_title class="text-xs text-base-900/50">
                          Repostería innovadora
                      </p>
                  </div>
              </div>
              <!-- End Avatar -->
  
              <div class="mt-5">
                  <a data-wow-duration="0.3s"  lindo-animate="fadeInUp" data-wow-delay="0.2s" class="inline-flex items-center gap-x-1.5 text-primary-500 decoration-2 hover:underline font-medium"
                      lindo-btn="_blog_card_a5325_cta_text" lindo-btn-href="_blog_card_a5325_cta_url"
                      href="/blog/keyword_2">
                      <span lindo-btn-text>Leer ahora</span>
                      <svg class="w-2.5 h-2.5" width="16" height="16" viewBox="0 0 16 16" fill="none">
                          <path
                              d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14"
                              stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                      </svg>
                  </a>
              </div>
          </div>
          <!-- End Col -->
      </div>
      <!-- End Grid -->

  </div>
</section>
<footer lindo-section="_block_35f22840" lindo-variation="1"><div class="bg-base-100 text-base-900">
    <div class="max-w-[75rem] py-10 px-4 sm:px-6 pt-0 lg:px-8 lg:pt-0 mx-auto">
      <!-- Grid -->
      <div class="flex flex-col lg:flex-row items-start justify-between gap-6 border-t border-base-50/20 pt-12">
        <div class="">
          <span class="flex-none text-xl  dark:text-base-50" style="display: inline-block;">
            <img lindo-image-logo="full" lindo-img-size="600x200" class="h-8 h-logo" src="https://gelatinartepaty.vercel.app/img/favicon.png" alt="GelatiArte Pa´ty" style="display: inline-block;"> <span class="font-semibold"> G</span>elatin<span class="font-semibold">arte</span> <span class="font-semibold">Pa´ty</span> 
          </span>
        </div>
        <!-- End Col -->
        <div class="flex flex-col gap-6">
          <div class="flex flex-wrap gap-6 justify-start md:justify-end">            
            <p class=""><a class="inline-flex gap-x-2 text-base-800 hover:text-base-800/70 transition-all" href="https://gelatinartepaty.vercel.app/services.html" lindo-btn="_block_35f22840_btn_text_2" lindo-btn-href="_block_35f22840_btn_href_2"><span lindo-btn-text="" class="">Servicios</span></a></p>
            <p class=""><a class="inline-flex gap-x-2 text-base-800 hover:text-base-800/70 transition-all" href="https://gelatinartepaty.vercel.app/blog.html" lindo-btn="_block_35f22840_btn_text_3" lindo-btn-href="_block_35f22840_btn_href_3"><span lindo-btn-text="" class="">Blog</span></a></p>            
            <p class=""><a class="inline-flex gap-x-2 text-base-800 hover:text-base-800/70 transition-all" href="https://gelatinartepaty.vercel.app/about.html" lindo-btn="_block_35f22840_btn_text_3" lindo-btn-href="_block_35f22840_btn_href_3"><span lindo-btn-text="" class="">Sobre Gelatinarte Pa´ty</span></a></p>            
            <p class=""><a class="inline-flex gap-x-2 text-base-800 hover:text-base-800/70 transition-all" href="contacto.html" lindo-btn="_block_35f22840_btn_text_5" lindo-btn-href="_block_35f22840_btn_href_5"><span lindo-btn-text="" class="">Contacto</span></a></p>  
          </div>
          <div class="flex flex-wrap gap-6 justify-start md:justify-end text-sm">
            <p class=""><a class="inline-flex gap-x-2 text-base-800 hover:text-base-800/70 transition-all" href="https://gelatinartepaty.vercel.app/privacy" lindo-btn="_block_35f22840_btn_text_7" lindo-btn-href="_block_35f22840_btn_href_7"><span lindo-btn-text="" class="">Política de privacidad</span></a></p>
            <p class=""><a class="inline-flex gap-x-2 text-base-800 hover:text-base-800/70 transition-all" href="https://gelatinartepaty.vercel.app/cookie" lindo-btn="_block_35f22840_btn_text_8" lindo-btn-href="_block_35f22840_btn_href_8"><span lindo-btn-text="" class="">Política de cookies</span></a></p>  
          </div>
        </div>
        <!-- End Col -->
  
  
        <!-- End Col -->
      </div>
      <!-- End Grid -->
  
      <div class="grid gap-y-2 sm:gap-y-0 pt-8 sm:flex sm:justify-between sm:items-center">
        <div class="flex justify-between items-center">
          <p class="text-sm text-base-800"><span lindo-text="_block_35f22840_text_1" class="inline-block">© Hecho con ❤️ y mucha gelatina por <a href="http://www.yarticulospromocionales.com/" title="@luisangelmaciel">@lamp</a> </span></p>
        </div>
        <!-- End Col -->
  
        <!-- Social Brands -->
        <div class="">
          <a lindo-setting-global="twitter" class="inline-flex justify-center items-center gap-x-3.5 w-10 h-10 text-center text-base-800 hover:bg-white/[.1] rounded-md focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2 focus:ring-offset-base-900 transition" href="#twitter">
            <i class="ti ti-brand-twitter text-[1.25rem]"></i>
          </a>
         <!--  <a lindo-setting-global="linkedin" class="inline-flex justify-center items-center gap-x-3.5 w-10 h-10 text-center text-base-800 hover:bg-white/[.1] rounded-md focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2 focus:ring-offset-base-900 transition" href="#">
            <i class="ti ti-brand-linkedin text-[1.25rem]"></i>
          </a> -->
          <a lindo-setting-global="facebook" class="inline-flex justify-center items-center gap-x-3.5 w-10 h-10 text-center text-base-800 hover:bg-white/[.1] rounded-md focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2 focus:ring-offset-base-900 transition" href="#"facebook>
            <i class="ti ti-brand-facebook text-[1.25rem]"></i>
          </a>
          <a lindo-setting-global="instagram" class="inline-flex justify-center items-center gap-x-3.5 w-10 h-10 text-center text-base-800 hover:bg-white/[.1] rounded-md focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2 focus:ring-offset-base-900 transition" href="#instagram">
            <i class="ti ti-brand-instagram text-[1.25rem]"></i>
          </a>
       <!-- <a lindo-setting-global="discord" class="inline-flex justify-center items-center gap-x-3.5 w-10 h-10 text-center text-base-800 hover:bg-white/[.1] rounded-md focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2 focus:ring-offset-base-900 transition" href="#">
            <i class="ti ti-brand-discord text-[1.25rem]"></i>
          </a> -->
        </div>
        <!-- End Social Brands -->
      </div>
    </div>
  </div></footer>   

  {% set postslist = collections.posts %}
{% include "postslist.njk" %}

  </main>
  <button lindo-scroll-top class="hidden fixed bottom-4 right-4 w-12 h-12 bg-base-800 text-base-50 rounded-full flex items-center justify-center transition-opacity duration-300 opacity-0 hover:opacity-100">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 10l7-7m0 0l7 7m-7-7v18" />
    </svg>
  </button>
  <!-- ========== END MAIN CONTENT ========== -->

  <!-- JS Implementing Plugins -->
  <script src="https://cdn.lindoai.com/js/preline.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

  <!-- Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdn.lindoai.com/css/animate.css">
 <script src="https://cdn.lindoai.com/js/wow.js"></script>
 <script src="https://cdn.lindoai.com/js/config.js"></script>

  <!-- Tabler Icons CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css">
  
  <!-- Custom Code -->
  
</body>

</html>