<form role="search">
  <label for="search-input" class="sr-only">Buscar</label>
  <input type="search" id="search-input" placeholder="Buscar" autocomplete="off">
  <div id="search-results"></div>
</form>
